@import "@fontsource/fira-code/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Code', monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {

    --caribbean-current: #006466ff;
    --midnight-green: #065a60ff;
    --midnight-green-2: #0b525bff;
    --midnight-green-3: #144552ff;
    --charcoal: #1b3a4bff;
    --prussian-blue: #212f45ff;
    --space-cadet: #272640ff;
    --dark-purple: #312244ff;
    --dark-purple-2: #3e1f47ff;
    --palatinate: #4d194dff;

    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #181818;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #181818;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #181818;
    --destructive: #e5484d;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;

    --chart-1: #f2994a;
    --chart-2: #269e91;
    --chart-3: #406982;
    --chart-4: #f6c644;
    --chart-5: #f08b32;

    --radius: 0.5rem;

    --sidebar-background: #fafafa;
    --sidebar-foreground: #3c3c3c;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f4f4f4;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #dbe0e4;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #181818;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #9e1c1f;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d1d5db;

    --chart-1: #3b82f6;
    --chart-2: #10b981;
    --chart-3: #f59e0b;
    --chart-4: #a855f7;
    --chart-5: #ef4444;

    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f4f4f4;
    --sidebar-primary: #2563eb;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292929;
    --sidebar-accent-foreground: #f4f4f4;
    --sidebar-border: #292929;
    --sidebar-ring: #3b82f6;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
      scroll-behavior: smooth;
  }
}